<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>himalaya.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B56F67E24D7904B004A8BFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B56F69424D7904E004A8BFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B56F69F24D7904E004A8BFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
